@charset "utf-8";
body{
   
    margin:0;
    padding:0;
    box-sizing: border-box;
 
}
ul,li,ol{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    
}
header{width: 100%; margin:0 auto;}
.topbanner{margin:0 auto; width:100%;   height: 65px; display: flex;}
.topbanner img{margin: 0 auto; }
.pink{width: 50%; height: 100%; 
    background-color: #ffd8d9;
}
.blue{width: 50%; height: 100%;background-color: #d2e8ff;}
header span>i{font-size: 18px; cursor:pointer; margin-top: 25px;}

.login{width: 100%; margin:0 auto; position: relative;}
.login .store{width: 1200px; display: flex; justify-content: space-between; margin: 0 auto; }
.login .store>ul>li{float: left; position: relative; width: px;}
.login .store>ul>li>a{color:black; font-size: 12px; display: block; padding:10px 0px; margin:0px 10px; }

header .area{position: absolute; width: 542px;  background-color: rgb(218, 218, 218); border:1px solid rgb(158, 158, 158); border-top: none; display: none;}

header .area_1{float: left; ; width: 180px; font-size: 14px;}
header .area_1>strong{ padding:5px 20px 5px 10px; }
header .area_1:nth-of-type(1){ border-right:1px solid #a3a3a3cb;  }
header .area_1:nth-of-type(2){ border-right:1px solid #a3a3a3cb; }
header .area_1 >.seoul{height: 500px; background-color: rgb(250, 250, 250); }
header .area_1 >.seoul :hover{ background-color: rgb(206, 203, 203);}
header .area_1 >.seoul>li{  padding:5px 20px 5px 10px;  font-size: 12px;  cursor:pointer;}
header .member{   width: 130px; height:130px; border:1px solid #3a3a3acb; display: none;position: absolute; } 

header .member_1{ padding:5px 10px; font-size: 12px;cursor: pointer; position: relative; background-color: rgb(250, 250, 250);} 
header .member_1:hover{ background-color: rgb(206, 203, 203)} 

.header_search{width: 1200px; height: 500px; background-color: darkgoldenrod; margin:0 auto;}

