@charset "utf-8";
*,body{
   
    margin:0;
    padding:0;
    box-sizing: border-box;
 
}
ul,li,ol{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    
}
header{width: 100%; margin:0 auto;}
.topbanner{margin:0 auto; width:100%;   height: 65px; display: flex;}
.topbanner img{margin: 0 auto; }
.pink{width: 50%; height: 100%; 
    background-color: #ffd8d9;
}
.blue{width: 50%; height: 100%;background-color: #d2e8ff;}
header span>i{font-size: 18px; cursor:pointer; margin-top: 25px;}

.login{width: 100%; margin:0 auto; position: relative;}
.login .store{width: 1200px; display: flex; justify-content: space-between; margin: 0 auto; }
.login .store>ul>li{float: left; position: relative;z-index: 1; }
.login .store>ul>li>a{color:black; font-size: 12px; display: block; padding:10px 0px; margin:0px 10px; }

header .area{position: absolute; width: 542px;  background-color: rgb(218, 218, 218); border:1px solid rgb(158, 158, 158); border-top: none; display: none;}

header .area_1{float: left; ; width: 180px; font-size: 14px;}
header .area_1>strong{ padding:5px 20px 5px 10px; }
header .area_1:nth-of-type(1){ border-right:1px solid #a3a3a3cb;  }
header .area_1:nth-of-type(2){ border-right:1px solid #a3a3a3cb; }
header .area_1 >.seoul{height: 500px; background-color: rgb(250, 250, 250); }
header .area_1 >.seoul :hover{ background-color: rgb(206, 203, 203);}
header .area_1 >.seoul>li{  padding:5px 20px 5px 10px;  font-size: 12px;  cursor:pointer;}
header .member{   width: 130px;  border:1px solid #3a3a3acb; position: absolute; display: none;} 

header .member_1{ padding:5px 10px; font-size: 12px;cursor: pointer; position: relative; background-color: rgb(250, 250, 250);} 
header .member_1:hover{ background-color: rgb(206, 203, 203)} 

.header_search{width: 1200px; height: 100px;  margin:0 auto; display: flex; justify-content: space-between; align-items: center;}
.header_search .logo{width: 200px; height: 60px;  }
.header_search .logo img{width: 100%; height: 100%;cursor: pointer;}

.header_search .search_box{ width: 450px; margin-top: 20px; position: relative;}
.header_search .main_input{width: 450px; height: 50px; border-radius: 50px; padding:5px 20px;font-weight: bold;border: 3px solid #606b9a; outline: none; }
.header_search .icon{position: absolute; bottom: 13px;top:auto; right:35px; color:#606b9a;}
.search_ad {width: 220px; height: 64px;}
.search_ad img{width: 100%;height: 100%;}
.search_ad>i{float:right; font-size: 15px; cursor: pointer;}
.search_ad >span{float:right;font-size: 13px; margin-right: 10px;}
.search_ad .none{display: none;}
nav{width: 100%; height: 50px; background-color: #606b9a; margin-top: 20px;}
.contents_box{width: 1200px;height: 50px; margin:0 auto; display: flex; justify-content: space-between;align-items: center;}
.contents_box .full_main_nav{float: left;}
.contents_box .full_main_nav >li{float: left;width:85px ; font-size: 18px;color:#fff;cursor:pointer;text-shadow:1px 2px 3px black;padding:0px 5px; line-height: 50px;margin-left:20px;}
.contents_box .sub_nav>li{float: left; margin-left: 20px;color:#d8dbe8;cursor:pointer;}
.contents_box .sub_nav>li:hover{color:#fff;text-decoration: underline;}
.contents_box .full_main_nav .menu_icon{background-color: #353f67;;width: 50px;height: 50px;text-align:center;font-size: 23px;}
.contents_box .eb{position: relative; }
.contents_box .eb .main_sub_menu{position: absolute; background-color: white;width: 85px;border: 1px solid black;border-top: none;margin-left: -6px;display: none;}
.contents_box .eb >.main_sub_menu>li{font-size: 12px; line-height: 25px;color:black;text-shadow:none;padding-left: 10px;cursor:pointer;}
.contents_box .eb >.main_sub_menu>li:hover{background-color:rgb(206, 203, 203) ;}

.full_main_nav .eb:hover{color:#353f67; background-color: white;text-shadow: none;border: 1px solid ;border-color: black;margin-top:-1px}
.contents_box .eb .fa-angle-up{display: none;}
.contents_box .eb:hover .fa-angle-up{display: inline-block;}
.contents_box .eb:hover .fa-angle-down{display: none;}
.contents_box .eb .fa-minus-square{display: none;}
.contents_box .eb:hover .fa-minus-square{display: inline-block;}
.contents_box .eb:hover .fa-plus-square{display:none;}

.slide{width: 100%;height: 450px;padding:15px;background-color: #e7e9f6;}
.slidemain{display: flex; flex-flow: column;  width: 1200px; margin:0 auto;}
.banner_side{display: flex;width: 1200px;height: 320px;justify-content: space-evenly; }
.banner{width:860px; height: 300px; padding:0px 0px 0px 100px;}
.sidebanner{ width: 300px; height: 420px; border:1px solid #d7d7d7; text-align: center;background-color: white;}
.banner_button{width: 720px; height: 41px; margin-left: 110px; margin-top: 30px;}

.banner_book_1{float:left;}
.book1{text-align: center;font-size: 12px; width: 180px;height: 270px;padding:10px 10px;float:left; }
.book2{text-align: center;font-size: 10px; width: 180px;height: 270px; padding:10px 10px;float:left; }
.book3{text-align: center;font-size: 10px; width: 200px;height: 270px; padding:10px 10px;float:left; }
.banner_book{margin-top: 10px;font-size: 13px;}
.banner_book1{margin-left: 5px;}
.banner_box1{display: block;}
.banner_box2{display: none;}
.banner_box3{display: none;}
.banner_box4{display: none;}
.banner_box5{display: none;}
.banner_box6{display: none;}

.banner_button>ul{background-color: #fff;width: 100%;height: 100%;}
.banner_button >ul>li{float: left;padding: 10px 0px; font-size: 15px;width: 120px;text-align: center; border-right: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7;border-bottom: 1px solid #d7d7d7;cursor:pointer;}
.banner_button .borderfirst{border-left: 1px solid #ccc;}
.slide_btn_hover{color:#fff; background-color: #606b9a; }




.sidebanner >h4{padding-top: 10px;}
.sidebanner>h6{padding: 5px 0px;}
.sidebanner>p{font-size: 12px;padding-top: 10px;cursor:pointer; }
.sidebanner>p:hover{text-decoration: underline;}
.sidebanner img{width: 250px;height: 200px; cursor:pointer;}
.sidebottom{margin-top:15px; }
.sidebottom_line{border-top: 1px solid #ccc; width: 95%; margin:0 auto;}
.sidebottom>ul>li{font-size: 12px;text-align: left;padding-top: 5px;list-style:disc}
.sidebottom>ul>li:hover{cursor: pointer;text-decoration: underline;}
.sidebottom>ul{padding-left: 30px;}

.new{width: 100%;height: 500px;}
.new_box{width: 1200px; height: 500px;margin: 0 auto; position: relative;}
.new_title{width: 100%; height: 50px; display: flex; align-items: center; position: relative; cursor:pointer;}
.new_title>h2{margin:0px 20px 0px 0px}
.new_title>h2:hover{text-decoration: underline;}
.new .new_title>ul{width: auto;  display: flex; position: relative; height: 50px; align-items: center; } 
.new .new_title>ul>li{ margin:0px 10px; cursor: pointer; font-size: 13px; padding:10px 5px; display: block;font-weight: bold;}
.new .new_title>ul>li:first-of-type{background-color:#5e6b9e; color:#fff;}
.new .new_title>i{position: absolute; right: 0; color:#ccc; cursor: pointer;}

.book_box_wrap{width: 100%; height: 400px;}
.book_box_wrap>.book_contents_box{ width: 100%;height: 100%;}
.book_contents{width: 252px; height: 350px;  border:1px solid #ccc;text-align: center; padding:30px;float: left; margin-right: 64px; margin-top: 20px;}
.book_contents_box>div:last-of-type{margin: 0;}
.book_contents_box:not(:first-of-type){display: none;}
.book_box_wrap:not(:nth-child(2)){display: none;}

.book_contents>h3>a{color:black; }
.book_contents>h3>a:hover{text-decoration: underline;} 
.book_contents>a>img{width: 130px; }
.book_contents>h3{font-size: 13px; color:black;  margin: 10px 0px 5px 0px;}
.book_contents>p{font-size: 12px; margin-top: 10px;}
.book_contents>p>a{color:black;}
.book_box_wrap >span{font-size: 20px; position: absolute;top:50%;color:#fff; background-color: rgba(175, 175, 175, 0.678) ;line-height: 30px; padding:0px 5px; cursor: pointer; display: none;}
.book_box_wrap >span:hover{background-color: black;}
.book_box_wrap:hover>span{display: block;}
.book_box_wrap .book_contents_box_right{right: 0;}

.only_kyobo{width: 100%; height: 200px;}
.only_contents_box{width: 1200px; height:200px; margin:0 auto;}
.only_logo{width: 128px;height: 109px; display: flex; align-items: center;justify-content: center; border-top: 1px solid #dadada;border-bottom: 1px solid #dadada;float: left;}
.only_icon_box img{transition: 0.3s ease; cursor: pointer;}
.only_icon_box img:hover{transform: translateY(-10%);opacity: 1;}
.only_icon_wrap{width:1000px ; height: 109px; float:left; overflow: hidden; position: relative;margin-left: 50px;border-top: 1px solid #dadada;border-bottom: 1px solid #dadada;}
.only_icon_in{width:3000px; height: 109px; ;float: left;}
.only_icon_box{width: 1000px; height: 109px; display: flex; justify-content: space-evenly; align-items: center;float:left;}
.only_icon_box img{opacity: 0.5;}
.only_icon_left{left:0;font-size: 30px; color:#eee;position: absolute;top:50%; cursor: pointer;transform: translateY(-25%);}
.only_icon_right{right:0;font-size: 30px; color:#eee; ;position: absolute;top:50%;cursor: pointer;transform: translateY(-25%);}
.only_icon_left:hover{color:#606b9a;}
.only_icon_right:hover{color:#606b9a;}

.section_banner{width: 100%; height: 285px;background-color: #f3f3f3;}
.slide_contents_box{width: 950px;height: 285px;margin:0 auto;}
.section_banner_contents{width: 800px;height: 285px;float: right;overflow: hidden;position: relative;}
.banner_contents_slide{width: 3200px;height: 285px;}
.section_banner_contents img{width: 800px;float: left;}
.section_banner>.slide_btn_hover>.section_banner_contents>i{font-size: 30px; color:black; position: absolute;top:50%;}
.slide_banner_left{left:0;font-size: 25px; color:#fff; position: absolute;top:50%;cursor: pointer;background-color: rgba(0, 0, 0, 0.2);width: 35px;height: 40px; text-align: center;line-height: 45px;display: none;}
.slide_banner_right{right:0;font-size: 25px; color:#fff; position: absolute;top:50%;cursor: pointer;background-color: rgba(0, 0, 0, 0.2);width: 35px;height: 40px; text-align: center;line-height: 45px;display: none;}
.section_banner>.slide_contents_box>.section_banner_contents>span:hover{background-color:  rgba(0, 0, 0, 0.7);}
.section_banner_contents:hover>span{display: block;}

.storyk{width: 100%;height: 1000px; }
.bookcast{width: 1200px;height: 500px;margin:0 auto;}
.bookcast_contents_box{width: 1200px;height: 300px;display: flex; justify-content: space-evenly;}
.bookcast_contents{width: 180px;height: 180px;}
.bookcast_contents>div:nth-of-type(2){margin-top: 20px;}
.bookcast_img_box{width: 100%;height: 100%; position: relative;overflow: hidden;border-radius: 1000px;}
.bookcast_img_box:hover img{transform: scale(1.1);cursor: pointer; }
.bookcast_contents img{width:100%;height: 100%;border-radius: 500px;transition: 0.5s ease;}
.category{ position: absolute;width: 100%; bottom:0; left: 0;height: 60px;text-align: center;background-color: rgba(0, 0, 0, 0.7);color:#fff;line-height: 60px;cursor: pointer}
.bookcast_text{font-size: 13px;margin-top: 5px;text-align: center; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;cursor: pointer;}
.bookcast_contents:hover{text-decoration: underline;}
.storyk_title{display: flex;justify-content: space-between;align-items: center; width: 100%;height: 60px;}
.storyk_category{display: flex; justify-content: space-evenly;align-items: center; height: 30px;cursor: pointer;}
.storyk_category>div{width: 120px; height: 30px; border: 1px solid #dadada;margin-right: 5px;font-size: 13px; line-height: 30px;padding-left: 10px;padding-right: 10px; display: flex; justify-content: space-between; align-items: center;transition: 0.5s ease;}
.storyk_category>div>i{color:#adadad;}
.storyk_category>div:hover{border:1px solid black;}

.best{width: 100%;height:700px; background: url("../main_img/best_background.jpg")no-repeat;background-position: center;background-size: cover;padding: 50px 0px;}
.best_contents{width: 1200px;height: 600px; ;margin:0 auto;display: flex;justify-content: space-evenly;align-items: flex-end;}
.best_seller{width: 900px;height: 100%;}
.best_side{width: 230px;height: 550px;}
.best_title{width:100%; height: 50px; display: flex;align-items: center; }
.best_title>h3{margin-right: 50px;}
.best_title>ul{display: flex; }
.best_title>ul>li{margin-right: 20px;font-size: 13px;cursor: pointer; padding:8px 5px;}
.best_title>ul>li:first-of-type{background-color: #5e6b9ea8;color: #fff;}

.best_seller_box{width: 100%;height:550px;  background-color: #fff;}
.best_seller_wrap{width: 100%;height: 550px; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;}
.best_seller_box:not(:nth-of-type(2)){display: none;}
.best_seller_book{width:160px; height: 250px;padding:30px 0px;text-align: center;position: relative;}
.best_seller_book>span{position: absolute; left:10px;top:5px;font-size: 18px;font-weight: bold;}
.best_seller_book>h3>a{font-size: 12px;color:black;}
.best_seller_book>a>img{width: 90px;border:1px solid #a9a9a9;}


.side_title{width: 100%;height: 50px;background-color: #ccc;border-bottom: 1px solid #353f67; cursor: pointer;}
.side_title>ul{height: 50px; display: flex;justify-content: space-evenly;align-items: center;}
.side_title>ul>li{font-size: 13px;height: 100%;width: 100%;text-align: center;line-height: 45px;}
.side_wrap{width:100%;height: 500px;background-color: #fff;}
.side_wrap:nth-of-type(3){display: none;}
.side_book{text-align: center;padding:20px 0px}
.side_book img{width: 90px;}
.side_book>h3>a{color:black; font-size: 13px; }
.side_book>h3{padding:5px 20px;}
.side_bar{width: 50px; border: 3px solid #dadada;margin: 20px auto;}
.side_hover{background-color: #353f67;color:#fff;}
.side_hover2{background-color: #ccc;color:black;}

