@charset "utf-8";
.sub_purchase_wrap{width: 100%;height: auto;}
.sub_purchase{width: 1200px;height: auto; margin:0 auto;}

.category{width: 1200px;height: 50px; display: flex;position: relative; align-items: center;  border-bottom: 1px solid #ddd;}
.home>span{color:rgb(102, 102, 102);margin-bottom: 10px;cursor: pointer;}
.home>span>i{color:rgb(102, 102, 102);margin-left: 10px;margin-top:33px;font-size: 12px;}
.home{margin-bottom: 30px;}
.category_top>.category_title>span{border:1px solid #dadada;padding:5px 5px;font-size: 13px;color:rgb(102, 102, 102);background-color: white;}
.category_bottom_1{width:452px;border: 1px solid black;height: 230px;margin-top: 10px;background-color: white;}
.category_5{float:left;}
.category_2{margin-left: 20px; margin-bottom: 3px;}
.category_2>i{color:rgb(102, 102, 102);}
.category_bottom{position: absolute; display: none;}
.category_title{margin-left: 20px; cursor:pointer;}
.category_title>span>i{margin-left: 10px;font-size: 12px;}


.category_left_1{width:150px;float: left;border-right: 1px solid rgb(148, 148, 148);height: 200px;margin-top: 10px;}
.category_left_1:nth-of-type(3){border-right: none;}
.category_left_1>li{width: 150px; line-height:20px;font-size: 13px;color:rgb(102, 102, 102);cursor: pointer;padding:0px 10px}
.category_left_1>li:hover{background-color: darkgray;}

.category_bottom_2{width:100px;border: 1px solid black;height: 200px;margin-top: 7px;background-color: white;}
.category_bottom_2>li{font-size: 13px;line-height: 20px;color:rgb(102, 102, 102);cursor: pointer;padding:0px 10px}
.category_bottom_2>li:nth-of-type(1){margin-top: 10px;}
.category_bottom_2>li:hover{background-color: darkgray;}

.category_bottom_3{width: 262px;border: 1px solid black;height: 230px;;margin-top: 7px;background-color: white; }
.category_left_2{width:130px;float: left;border-right: 1px solid rgb(148, 148, 148);height: 200px;margin-top: 10px;}
.category_left_2:nth-of-type(2){border-right: none;}
.category_left_2>li{width:130px;line-height:20px;font-size: 13px;color:rgb(102, 102, 102);cursor: pointer;padding:0px 10px}
.category_left_2>li:hover{background-color: darkgray;}

.category_bottom_4{width: 262px;border: 1px solid black;height: 230px;;margin-top: 7px;background-color: white; }
.category_left_3{width:130px;float: left;border-right: 1px solid rgb(148, 148, 148);height: 200px;margin-top: 10px;}
.category_left_3:nth-of-type(2){border-right: none;}
.category_left_3>li{width:130px;line-height:20px;font-size: 13px;color:rgb(102, 102, 102);cursor: pointer;padding:0px 10px}
.category_left_3>li:hover{background-color: darkgray;}

.book_in{width: 100%;height: auto;margin-top: 30px;}
.book_in_wrap{width: 100%;height: 100%;display: flex;justify-content: space-between;}
.book_in_left{width: 200px; height: 700px;text-align: center;display: flex;flex-flow:column;align-items: center;}
.book_in_right{width:980px ;height: 700px;}

.book_in_left_img{width:200px;height:300px;background-color: dimgray;}

.book_in_left_1{border:1px solid #ddd;width: 200px;padding:5px 0px; margin-top: 20px;cursor: pointer;font-size: 13px;color: #f84450;}
.book_in_left_1>span{margin-right: 20px;}
.book_in_left_1>i{color:#aaa;}
.book_in_left_2{border:1px solid #ddd;width: 100%;padding:5px 10px;margin-top: 20px;text-align: left;}
.book_in_left_2>span{margin:10px 0px 0px 0px; display: inline-block;}
.key{font-weight: bold;margin-top: 20px;}
.key_2{cursor: pointer; float:right;border: 1px solid #ddd;font-size: 13px;padding:3px 5px;}
.book_in_left_2>ul{display: flex;flex-flow:wrap;margin:20px 0px 20px 0px;}
.book_in_left_2>ul>li{font-size: 13px; margin:10px 0px 0px 6px; border: 1px solid #ddd; padding:5px 20px; border-radius: 30px;cursor: pointer;}
.book_in_left_3{border: 1px solid #ddd;width: 100%;margin-top: 20px;}
.book_in_left_3>p:nth-of-type(1){padding:10px 0px;font-weight: bold;}
.left_3_text{cursor: pointer; padding:5px 5px;text-align: left;border-top: 1px solid #ddd;color:#444;font-size: 13px;}
.left_3_text:hover{background-color: #f8f8f8;}

.book_in_right_top{width: 100%;height: 200px;}
.book_in_right_title>ul{display: flex; }
.book_in_right_title{padding-top: 20px;}
.book_in_right_title>ul>li{color:#666; margin-left: 10px; border: 1px solid #ddd;font-size: 13px;padding:0px 3px;}
.book_in_right_title>ul>li:first-of-type{margin:0;}

.book_in_right_title_1{margin-top: 6px; font-size: 13px;color:#777;}
.book_in_right_title_2>h2{color: #3a60df; line-height: 27px; margin-top: 10px;}

.sub_ratings{width: 100%; display: flex; align-items: center;}
.sub_ratings img{width: 100px;}
.sub_ratings>span{font-size: 13px;}
.review{margin-left: 20px;border:1px solid #aaa;color:#677ee8;padding:2px 2px;cursor: pointer;}
.sub_ratings_2{width: 100%; display: flex;align-items: center;}
.sub_ratings_2>p:nth-of-type(2){margin-left: 5px;}
.sub_ratings_2>p:nth-of-type(1){margin-right: 5px;}
.sub_ratings_2>span{font-size: 12px;padding-top: 2px;color:#aaa;}
.sub_ratings_2>p>a{color:#666;font-size: 12px;}
.sub_ratings_2>p>a:hover{text-decoration: underline;}
.sub_ratings_2>p>a>em{font-style: normal;color:red;}

.book_in_right_middle{display: flex; justify-content: space-between; width: 100%; height: 250px;  border:1px solid #d0d0d0; border-left: none; border-right: none;}
.book_in_right_middle_2{width: 600px; padding-top: 20px; border-right: 1px solid #d0d0d0;}
.event{width: 300px;}
.price_1{color:#666; font-size: 12px;}

.price>p{color:#666; font-size: 12px;}
.price>p>.price_3{font-size: 18px; color:#f84450;}
.price>p>.price_4{color: #5e6b9f;}
.price>p>.price_4>i{font-weight: 600;}
.price>p{line-height: 30px;}
.benefits_2{margin-left: 35px;}
.benefits{font-size: 12px; line-height: 25px;}
.benefits_2>span{border:1px solid #d0d0d0; padding:3px 4px 2px; cursor: pointer;transition: 0.3s ease; }
.benefits_2>span:hover{border-color: #a0a0a0; box-shadow: 1px 1px 1px black;}
.benefits_3>span{ border:1px solid #d0d0d0; padding:3px 4px 2px; cursor: pointer;transition: 0.3s ease; }
.benefits_3>span:hover{border-color: #a0a0a0; box-shadow: 1px 1px 1px black;}
.benefits_3{margin-top: 10px;}

.event_title{font-size: 12px;font-weight: bold; color:#5e6b9f; margin-top: 20px;}
.event>ul>li{font-size: 12px; margin-bottom: 7px; margin-top:10px; list-style:disc;}
.event>ul>li:hover{cursor: pointer;text-decoration: underline;}

.book_in_right_bottom{width: 100%;  height: 300px;}
.de_bo{display: inline-block;}
.de_bo_1{display: inline-block; color:white;background-color: navy; font-size: 11px;margin-left: 65px;cursor:default; }
.delivery{font-size: 13px; color:#666; padding-top: 30px; height: 180px; border-bottom:1px solid #d0d0d0;}
.delivery_3{margin:10px 0px 10px 0px; vertical-align: top;}
.delivery_3-1{margin:10px 0px 10px 0px;}
.delivery>span{display: inline-block; }
.de_bo{border:1px solid #d0d0d0; margin-left: 5px; padding:2px 2px; cursor:pointer;;transition: 0.3s ease;}
.de_bo:hover{border-color: #a0a0a0; box-shadow: 1px 1px 1px black;}
.de_co{color:#3a60df;}

.order{width: 100%; margin-top: 20px;}
.order_1>span{font-size: 13px;color:#666;}
.order_1>input{width: 40px; text-align: right; height: 25px; border:1px solid #ccc; font-weight: bold; padding-right: 5px;}
.order_1>i{font-size: 15px;  color:#5e6b9e;cursor:pointer; }
.order>ul{display: flex; width: 100%; justify-content: space-around; margin-top: 20px;}
.order>ul>li{width: 180px;line-height: 50px;font-size: 14px; text-align: center;cursor: pointer;}
.btn_blue{background-color: #5e6b9e; border:1px solid black;color:#fff;}
.btn_blue_2{background-color: #7b8ed1 ; border: 1px solid black;color: #fff}
.btn{background-color: #fff; border: 1px solid black}

.book_in_bottom_slide{display: flex; flex-flow: wrap row;justify-content: space-between;align-items: center; width: 100%; height: 250px;margin-top: 50px;}
.book_in_bottom_slide>h4{width: 100%; padding:0px 60px;}
.book_in_slide_wrap{width: 95%; height: 150px;}
.book_in_slide_contents{width: 100%; height: 250px;display: flex;justify-content: space-evenly;align-items: center;}
.book_in_slide_contents>div{width: 150px; height: 250px;}
.book_in_bottom_slide>i{font-size: 30px;cursor: pointer; color:rgb(177, 177, 177);}
.book_in_slide_contents>div{text-align: center;}
.book_in_slide_contents>div>a>img{width: 98px; height: 143px; border: 1px solid #a7a7a7;}
.book_in_slide_contents>div>h5{height: 32px; overflow: hidden;margin-top: 5px;}
.book_in_slide_contents>div>h5>a{font-size: 12px; color:#555;}
.book_in_slide_contents>div>h5>a:hover{text-decoration: underline;}
.book_in_slide_contents>div>h5{margin-top:10px;  color: #f04653;}
.book_in_slide_wrap:not(:first-of-type){display: none;}

#book_intro{width: 100%; height: auto;  margin-top: 180px;display: flex;justify-content: space-between;}
.book_intro_left{width: 80%; height: 100%;  }
.book_intro_right{width: 17%; height: 1550px;}

.book_intro_left_title{width: 100%; height: auto;}

.book_intro_left_title_2>li:last-of-type>a{border:none}
.book_intro_left_title_2>li>a{color:#666;text-align: center;width:33.33% ;float: left;border-right: 1px solid #ccc;}
.book_intro_left_title_2>li>.book_title_click{background-color: #365fdd; color: #fff;}
.book_intro_left_title_2{width: 100%;height: 50px;border:1px solid #ccc;line-height: 50px;}

.book_infor{margin-top: 30px;}
.book_infor>span{font-size: 13px;line-height: 25px;color:#777;}
.book_infor>h5{margin-top: 25px;color:#777}
.book_infor_2>ul>li{float: left;font-size: 15px;margin-left: 15px;border:1px solid #ccc;color:#666;border-radius: 50px;padding:2px 10px;cursor: pointer;}
.book_infor_2>ul>li:nth-of-type(1){margin: 0px;}
.book_infor_2>ul{margin-top: 10px;}

.book_infor_3>span{margin:40px 0px 7px; color:#555; font-size: 12px; font-weight: bold;}
.book_infor_4{color:#666; font-size: 12px; margin-top: 10px;line-height: 22px;}
.book_infor_5{margin: 80px auto;}
.book_infor_5>img{margin-top:30px; margin-left: 100px;}
.book_infor_6{margin-top: 80px;}
.author{margin-top: 30px;}
.author>img{width: 103px;vertical-align: top;float: left;}
.author>span{font-size: 12px;color:#666;}
.author>a{font-size: 12px;color:#666;border:1px solid #d0d0d0; padding:4px 7px 1px 7px;border-radius: 50px;}
.author>a:nth-of-type(1){margin-left: 350px;}
.author>span{margin-left: 20px;}
.author>ul{margin-top: 20px;}
.author>ul>li{ float: left;  font-size: 13px;border:1px solid #ddd; padding:3px 10px 1px 10px;border-radius: 50px;color:#666;cursor: pointer;}
.author>ul>li:nth-of-type(1){margin-left: 20px;}
.author>ul>li:nth-of-type(2){margin-left: 10px;}
.author_text>div>button{color:#666; font-size: 12px; border: 1px solid #d0d0d0;padding:3px 3px 0px 3px;margin-left: 5px;transition:all 0.3s;cursor: pointer;}
.author_text>div>button:hover{border-color: #a0a0a0;box-shadow: 1px 1px 1px rgba(0,0,0,.1);}
.author_text{color:#666; font-size: 13px;line-height: 22px;margin-left: 130px;}

#book_intro_left_title2{margin-top: 30px;width: 100%;height: auto;}
#book_intro_left_title2>h3{margin-top: 30px;}
.book_intro_left_title2>h3{margin-top: 30px;}
.review_top{float: right;}
.review_top>span{ border:1px solid #bbb; background-color: #fff;font-size: 12px; padding: 5px 8px 3px 8px; cursor: pointer;}
.list_wrap>dl>dt,dd{display: inline;}
.review_list{border-top: 1px solid black;margin-top: 30px;}
.list_wrap{padding:20px 0 15px 0;border-bottom: 1px dotted #d4d4d4;}
.id{padding:0 16px 0 0; font-size: 12px;font-weight: bold;}
.date{padding:0 5px 0 0; color:#aeaeae; font-size: 11px;}
.time{padding:0 8px 0 0; font-size: 11px ;color:#aeaeae;}
.coment{padding:7px 0 0 0; font-size: 12px;width: 80%;display: block; line-height: 20px;}
.ra>img{width: 50px;}
.page_next{width: 100%;height: auto;}
.page_next>i{float: left;padding:0px 3px;}
.page_next>ul>li{float: left; padding:0px 10px; cursor: pointer;font-weight: bold;border-right: 1px #dadada solid ;color:#666;text-align: center;height: 13px;}
.page_next>ul>li:last-of-type{border:none;}
.page_next{margin:30px 0px 0px 300px;}

#book_intro_left_title3{width: 100%;height: auto;margin-top: 150px;}
#book_intro_left_title3>h3{margin-top: 30px;margin-left: 100px;}
#book_intro_left_title3>p{margin-top: 30px; font-size: 12px; color:#666;margin-left: 100px;}

.exchange{margin-left: 100px; margin-top: 20px;border-collapse: collapse;width: 80%; height: 800px; }
.exchange tr,td{font-size: 13px;padding:6px 10px 4px;}
.exchange th,td{border:1px solid #ddd; color:#666;line-height: 24px;padding:8px 10px 6px}
.exchange th{color:#444; text-align: left; background-color: #eee; width: 180px;}
.exchange ul li{list-style: disc;margin-left: 20px;}



.book_intro_right{border: 1px solid #dadada;}


.best_in_this{border-bottom: 1px solid #dadada;}
.best_in_this>div{display: flex;flex-flow: row-reverse nowrap;margin-bottom: 23px;}
.best_in_this>div>span{display: flex;flex-flow: column nowrap;align-items: flex-start;justify-content: space-evenly;padding:0 5px 0 10px; width: 100px;}
.best_in_this>div>a>img{width: 80px;}
.best_in_this>div>span>h5>a{font-size: 12px;color:#444;}
.best_in_this>div>span>h5{ color: #f84450;}

.best_in_this2>div{display: flex;flex-flow: row-reverse nowrap;margin-bottom: 23px;}
.best_in_this2>div>span{display: flex;flex-flow: column nowrap;align-items: flex-start;justify-content: space-evenly;padding:0 5px 0 10px;width: 100px;}
.best_in_this2>div>a>img{width:80px;border:1px solid #ddd;}
.best_in_this2>div>span>h5>a{font-size: 12px;color:#444;}
.best_in_this2>div>span>h5{ color: #f84450;}
.best_in_this2>h5{padding-top: 20px;margin-bottom: 20px;color:#666;margin-left: 20px;}
.best_in_this>h5{padding-top: 20px;margin-bottom: 20px;color:#666; margin-left: 20px;}







